.profile__edit-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit\ Button.svg);
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  align-self: baseline;
}
