.page {
  color: #fff;
  background-color: #000;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 45px 200px 60px;
}
@media screen and (max-width: 767px) {
  .page {
    padding: 28px 0 36px;
  }
}
