.body {
  background-color: #000;
}
.page {
  color: #fff;
  background-color: #000;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.header {
  box-sizing: border-box;
  margin: 45px auto 0;
  max-width: 880px;
  padding: 0 27px;
  height: 74px;
  border-bottom: 1px solid #545454;
}
.logo {
  max-width: 100%;
  width: 142px;
}
.content {
}
.profile {
}
.content__section {
}
.profile__person {
}
.profile__avatar {
}
.profile__info {
}
.profile__container {
}
.profile__name {
}
.profile__edit-button {
}
.profile__activity {
}
.profile__add-button {
}
.footer {
}
