.body {
  background-color: #000;
}
.page {
  color: #fff;
  background-color: #000;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 45px 200px 60px;
}
.page__header {
  box-sizing: border-box;
  width: 100%;
}
.content__section {
  width: 100%;
  box-sizing: border-box;
}
.header {
  margin: 0 auto 50px;
  max-width: 880px;
  height: 74px;
  border-bottom: 1px solid #545454;
}
.logo {
  max-width: 100%;
  width: 142px;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__section {
  margin: 0 auto;
  max-width: 880px;
}
/* profile */
.profile__person {
  display: flex;
}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}
.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 34px;
}
.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  align-self: baseline;
  margin: 0 18px 0 0;
}
.profile__edit-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url(./images/Edit\ Button.svg);
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  align-self: baseline;
}
.profile__activity {
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
}
.profile__add-button {
  background-image: url(./images/Add\ Button.svg);
  border: 0;
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.footer {
}
/* elements */
.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  margin: 51px auto 71px;
}
.elements__element {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  overflow: hidden;
}
.elements__image {
  width: 100%;
}
.elements__info {
  background-color: #fff;
  min-height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
}
.elements__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
}
.elements__like-button {
  background-image: url(./images/like.svg);
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  flex-shrink: 0;
  width: 22px;
  height: 19px;
  background-position: center;
}
/* footer */
.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin: 0 auto;
  color: #545454;
  max-width: 880px;
}
.footer {
  text-align: left;
}
@media screen and (min-width: 1280px) {
  .elements {
    max-width: 880px;
  }
}
