.form__save-button {
  padding: 0;
  margin: 48px 0 0 0;
  border: 0;
  width: 358px;
  height: 50px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.23;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  transition: opacity 0.2s ease;
  cursor: pointer;
}
.form__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 767px) {
  .form__save-button {
    width: 238px;
    margin: 45px 0 0 0;
    height: 46px;
    font-size: 14px;
  }
}
