.profile__activity {
  font-style: normal;
  font-weight: normal;
  margin: 0;
  width: max-content;
  font-size: 18px;
  line-height: 1.22;
}
@media screen and (max-width: 767px) {
  .profile__activity {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}
