.profile__add-button {
  background-image: url(../../../images/Add\ Button.svg);
  border: 0;
  width: 150px;
  height: 50px;
  margin: 35px 0 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  overflow: auto;
  flex-shrink: 0;
}
