.profile__add-button {
  background-image: url(../../../images/AddButton.svg);
  border: 0;
  width: 150px;
  height: 50px;
  margin: 35px 0 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  background-size: cover;
  flex-shrink: 0;
  transition: opacity 0.2s ease;
}
.profile__add-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
    background-image: url(../../../images/AddButton-767.svg);
  }
}
