.profile__container {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .profile__container {
    margin-bottom: 14px;
  }
}
