.profile__name {
  max-width: 294px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  align-self: baseline;
  margin: 0 18px 0 0;
}
@media screen and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.22;
    text-align: center;
    margin-right: 10px;
  }
}
