.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 282px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
